.calendar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  border-radius: 0px 20px 20px 0px;
  background-color: white;
}

.calender-header {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.controller {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.button {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  font-size: 35px;
  font-weight: bold;
  color: white;
  background-color: rgb(61, 138, 240);
}

.button:hover {
  background-color: rgba(61, 139, 240, 0.562);
  cursor: pointer;
}

.month {
  flex: 3;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 40px;
  color: rgb(56, 162, 233);
}

.days {
  flex: 4;
  display: grid;
  grid-template-columns: 60px 60px 60px 60px 60px 60px 60px;
  grid-template-rows: 60px 60px 60px 60px 60px 60px 60px;
  margin: auto;
}

.weekday {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: rgb(236, 65, 65);
  margin: 5px;
}

.calendar-day {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin: 5px;
  border-radius: 5px;
}

.calendar-today {
  background-color: rgb(236, 65, 65);
}

.calendar-day:hover {
  background-color: rgba(236, 65, 65, 0.8);
  transition-duration: 0.5s;
}
