.today {
  display: flex;
  flex-direction: column;
  border-radius: 20px 0px 0px 20px;
  height: 100%;
  width: 50%;
  background-color: rgb(98, 183, 240);
}

.today-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
}

.day {
  flex: 1;
  font-size: 60px;
}

.clock-container {
  flex: 2;
  width: 400px;
  margin: 40px auto auto;
  border-radius: 400px;
  background-color: white;
}

.panel-container {
  width: 320px;
  height: 320px;
  padding: 20px;
  border: 20px solid white;
  border-radius: 300px;
  box-shadow: 0 0 20px 0 rgb(7, 7, 7, 0.4) inset;
  display: flex;
  align-items: center;
}

.box {
  position: relative;
  width: 380px;
  height: 380px;
  display: flex;
  align-items: center;
  /* background-color: aqua; */
}

.num,
.point,
.second,
.minute,
.hour {
  position: absolute;
  font-size: 30px;
  line-height: 30px;
  height: 30px;
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
}

.num:nth-child(1) {
  transform: rotate(120deg);
}

.num:nth-child(2) {
  transform: rotate(150deg);
}

.num:nth-child(3) {
  transform: rotate(180deg);
}

.num:nth-child(4) {
  transform: rotate(210deg);
}

.num:nth-child(5) {
  transform: rotate(240deg);
}

.num:nth-child(6) {
  transform: rotate(270deg);
}

.num:nth-child(7) {
  transform: rotate(300deg);
}

.num:nth-child(8) {
  transform: rotate(330deg);
}

.num:nth-child(9) {
  transform: rotate(0deg);
}

.num:nth-child(10) {
  transform: rotate(30deg);
}

.num:nth-child(11) {
  transform: rotate(60deg);
}

.num:nth-child(12) {
  transform: rotate(90deg);
}

.num span {
  display: inline-block;
}

.num:nth-child(1) span {
  transform: rotate(-120deg);
}

.num:nth-child(2) span {
  transform: rotate(-150deg);
}

.num:nth-child(3) span {
  transform: rotate(-180deg);
}

.num:nth-child(4) span {
  transform: rotate(-210deg);
}

.num:nth-child(5) span {
  transform: rotate(-240deg);
}

.num:nth-child(6) span {
  transform: rotate(-270deg);
}

.num:nth-child(7) span {
  transform: rotate(-300deg);
}

.num:nth-child(8) span {
  transform: rotate(-330deg);
}

.num:nth-child(10) span {
  transform: rotate(-30deg);
}

.num:nth-child(11) span {
  transform: rotate(-60deg);
}

.num:nth-child(12) span {
  transform: rotate(-90deg);
}

.point {
  text-align: center;
}

.point span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: black;
}

.hand {
  display: flex;
  align-items: center;
}

.hand span {
  background-color: black;
  display: block;
}

.hand.second span {
  width: calc(50% - 40px);
  height: 2px;
  border-radius: 4px;
  margin-left: 50px;
}

.hand.minute span {
  width: calc(50% - 60px);
  height: 4px;
  border-radius: 4px;
  margin-left: 70px;
}

.hand.hour span {
  width: calc(50% - 80px);
  height: 8px;
  border-radius: 4px;
  margin-left: 90px;
}
