.today {
  display: flex;
  flex-direction: column;
  border-radius: 20px 0px 0px 20px;
  height: 100%;
  width: 50%;
  background-color: rgb(98, 183, 240);
}

.today-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.date {
  flex: 2;
  font-size: 250px;
}

.day {
  flex: 1;
  font-size: 60px;
}

.time {
  flex: 1;
  font-size: 60px;
}
